################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAPI/bin/Debug/net6.0
/DockerAPI/obj
